.list-item{
    padding:10px;
    border-radius:30px;
    display:flex;
    justify-content: space-between;
    gap:10px;
    margin-bottom:10px;
    max-width:500px;
}


.item-wrapper{
    flex-grow:1;
}

.item-heading{
    font-family:cursive;
    color:black;
    font-size:25px;
    font-weight:500;
    margin:0px;
    text-align: center;
}
.line{
    border:solid white 0.5px;
    width:80%;
}
.item-desc{
    color:black;
    font-size:12px;
    font-weight:300;
}

.functional-buttons{
    display:flex;
    flex-direction: column;
    gap:10px;
    width:100px;
    align-items: center;
    /* border:solid white 0.5px; */
}

.status{
    background-color:white;
    color:black;
    font-size:8px;
    font-weight:800;
    padding:8px 15px;
    border-radius: 10px;
    height:fit-content;
    width:fit-content;
    text-align: center;
    outline:none;
}

.delete-item-button{
    cursor:pointer;
    padding:8px 15px;
    background-color: black;
    color:white;
    font-size:8px;
    font-weight:800;
    border:none;
    outline:none;
    border-radius:12px;
}

.edit-item{
    cursor:pointer;
    padding:8px 15px;
    background-color: orange;
    color:white;
    font-size:8px;
    font-weight:800;
    border:none;
    outline:none;
    border-radius:12px;
}

.input-todo-item{
    background-color: transparent;
    outline:none;
    border:solid white 0.5px;
    width:100%;
}
.text-area-todo-item{
    background-color: transparent;
    outline: none;
    border:solid white 0.5px;
    width:100%
}